{% extends "default/frame.html.jinja2" %}

{% block head %}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "3cc81275d9484412b3569fdb3580758a"}'></script>
    <!-- End Cloudflare Web Analytics -->
{% endblock %}