name: Python Tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - name: Run tests
      id: run-tests
      run: >
        uv run --frozen pytest \
          --junitxml=pytest.xml \
          --cov-report=term-missing:skip-covered \
          --cov-report=xml:coverage.xml \
          --cov=src tests \
          --log-level=DEBUG \
          --verbose

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - name: Ruff format
      run: uv run ruff format --check

    - name: Ruff check
      run: uv run ruff check

  mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - run: uv run mypy .
